/*
 * Author: Rasmus Johannsen, Mark Elmdam & Mathias Hansen
 * Course: Technologies for Web and Social Media
 * Project Name: TWSM Project
 * Version: 1.0
 * Date: 30-03-2018
 */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}

.navbar-inverse {
	background-color: #2f2f2f;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}

.navbar .navbar-brand {
    background-color: #FFFF00;
    color: #FFC0CB;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #221C50;
    color: #fff;
    text-shadow: none;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/back.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;

}

#headerwrap h2 {
	color:#ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 40px;
	font-weight: bold;	
}

#headerwrap h4 {
	font-weight: 500;
	color: #ffffff
}

#aauproject {
	padding-top: 50px;
	min-height: 450px;
	background-color: #f2f2f2;
}

#aauproject h2 {
	padding-top: 50px;
	padding-bottom: 20px;
}

#aauproject p {
	font-size: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#aauproject .buttons {
	padding-left: 20%;
}

.btn-primary {
	background-color: #221C50;
	border-color: #ffffff;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus {
	border-color: #221C50;
	opacity: 0.5;
}

.btn-secondary {
	background-color: #ffffff;
	border-color: #221C50;
	color: #221C50;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited, .btn-secondary:focus, .btn-secondary:active:focus {
	background-color: #221C50;
	color: #ffffff;
	opacity: 0.5;
}

#aauproject img {
	padding-top: 10px;
	padding-bottom: 20px;
}

#webtech {
	padding-top: 50px;
	min-height: 1050px;
	background-color: #ffffff;
}

#webtech h2 {
	padding-bottom: 20px;
	text-align: center;
}




#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a;
}

#social i:hover {
    color: #2B1CDA;
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}


#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h2 {
	color:#ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 40px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#aboutwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#aboutwrap h2 {
	color:#ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 40px;
	font-weight: bold;
}

#aboutwrap h4 {
	font-weight: 400;
	color: #ffffff
}

/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.5;
}

#feedwrap {
	background: url(../img/avian.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#feedwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#feedwrap h2 {
	color:#ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 40px;
	font-weight: bold;
}

#feedwrap h4 {
	font-weight: 400;
	color: #ffffff
}